extends layout.pug

block title
    title AAHH

block body
    div.wrapper
        +title('Hello PUG & mixins', 'primary')

        +card()
            +title('Une nouvelle manière de <span>communiquer</span> !', 'subtitle')(class="mb-5")
            +form-block('test :')
                +label('blabla: ')
                +input('name')