/**
 * 
 * 
 * 
 * 
 */

for $breakpoint in $breakpoints
    +breakpoint($ + $breakpoint)
        for $prefix, $properties in $prefixSpacing 
            for $i in $numbersForSpacing
                $class = '.' + $breakpoint + '\:' + $prefix + '-' + $i
                $value = spacing($i * 2)

                {$class}
                    for $property in $properties
                        {$property}: $value