@import 'blue'
@import 'red'
@import 'orange'
@import 'green'
@import 'teal'
@import 'grey'
@import 'blue-grey'
@import 'yellow'
@import 'pink'
@import 'brown'
@import 'lime'
@import 'amber'
@import 'indigo'
@import 'light-blue'



$white = {
    '400': #FFFFFF
}

$dark = {
    '400': #000000
}